.category-image {
    position: relative;
}

.category-image .image-text {
    top: 50%;
    opacity: 0.8;
    position: absolute;
    /*background: ;*/
    font-size: 80px;
    padding: 45px;
    background: #070707;
    color: #d2d2d2;
}

@media screen and (max-width: 900px ){
    .category-image .image-text {
        padding: 10px;
        font-size: 25px;
    }
}