.choice-role-block {
    position: absolute;
    right: 30px;
    top: 30px;
    max-width: 150px;
    cursor: pointer;
}

.choice-role-text {
    font-size: 1.7em;
}

.choice-role-icon {
    font-size: 2em;
}

@media screen and (min-width: 1700px) {
    header .callback {
        margin-right: 40px;
    }
}

header .callback {
    float: right;
    position: relative;
    top: 4px;
}

@media screen and (max-width: 1700px){
    header .callback {
        margin-right: 140px;
    }
}

@media screen and (max-width: 1500px){
    .choice-role-text {
        display: none;
    }

    header .callback {
        margin-right: 60px;
    }
}

@media screen and (max-width: 1200px) {
    .choice-role-block {
        z-index: 2001;
        position: absolute;
        left: 20px !important;
        top: 20px !important;
    }

    header .callback {
        margin-right: 40px;
    }
}