.choice-role-block {
    position: absolute;
    right: 30px;
    top: 35px;
    max-width: 165px;
    cursor: pointer;
}

.choice-role-text {
    font-size: 1.2em;
    /*display: none!important;*/
}

@media screen and (min-width: 1700px) {
    header .callback {
        margin-right: 40px;
    }
}

header .callback {
    float: right;
    position: relative;
    top: 4px;
}

@media screen and (max-width: 1700px) {
    header .callback {
        margin-right: 140px;
    }
}

@media screen and (max-width: 1500px) {
    header .callback {
        margin-right: 60px;
    }
}

@media screen and (max-width: 1200px) {
    .choice-role-block {
        z-index: 2001;
        position: absolute;
        left: 20px !important;
        top: 20px !important;
    }
}

header .callback {
    float: right;
    position: relative;
    top: 4px;
    margin-right: 40px;
}
