.post-content h1 {
    font-size: 2em!important;
    margin-block-start: 0.67em!important;
    margin-block-end: 0.67em!important;
}

.post-content h2 {
    font-size: 1.5em!important;
}

.post-content h3 {
    font-size: 1.17em!important;
}

.post-content h4 {

}

.post-content h5 {
    font-size: 0.83em!important;
}

.post-content h6 {
    font-size: 0.67em!important;
}