a.btn.back {
    width: 140px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 8px;
}

a.back span {
    position: relative;
    top: -13px;
}

.desc-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: 60px;
}

.container.cols-grid {
    flex-direction: row;
}

.container .col {
    display: inline-block;
}


.title-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.container h1.title {
    font-family: "BrandonGrotesque", "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.title-container:before,
.title-container:after {
    content: '';
    position: relative;
    top: 27px;
    width: 50px;
    border-top: 1px solid #e5e5e5;
    margin: 0 20px;
}

.pricing-content {
    font-weight: 300;
    font-size: 16px;
    color: #666666;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 24px;
}



.cols-grid {
    overflow: hidden;
    margin-top: 60px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cols-wrap {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.cols-grid .col {
    float: left;
    position: relative;
    width: 276px;
    margin: 30px 110px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all;
    transition-duration: 1s;
}

.cols-grid .col:hover .more {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1)
}

.cols-grid .col:hover .image img {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9)
}

.cols-grid .col:nth-child(3n) {
    margin-right: 0
}

.cols-grid .col .image {
    position: relative;
    width: 276px;
    height: 276px;
    overflow: hidden
}

.cols-grid .col .image:after,
.cols-grid .col .image .hover {
    display: block;
    content: "";
    position: absolute;
    opacity: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/col-hover.png) repeat;
    z-index: 9;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s
}

.cols-grid .col .image img {
    background-color: #8fb91c;
    border: 3px solid #8fb91c;
    border-radius: 150px;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.cols-grid .col h2 {
    margin-top: 35px;
    margin-bottom: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #8fb91c;
    text-align: center;
    text-transform: uppercase
}

.cols-grid .col p {
    margin-top: 2px;
    font-weight: 300;
    font-size: 15px;
    color: #999999;
    text-align: center
}

.cols-grid .col a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 10
}

.cols-grid .col .more {
    padding-top: 5px;
    font-family: "BrandonGrotesque", "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #8fb91c;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 20px, 0) scale(1.1);
    transform: translate3d(0, 20px, 0) scale(1.1)
}

.cols-grid .col .more span {
    text-decoration: underline
}

.cols-grid .col.smaller {
    width: 210px;
    margin-right: 30px
}

.cols-grid .col.smaller .image {
    width: 216px;
    height: 216px
}

.cols-grid .col.smaller h2 {
    margin-top: 20px;
    font-size: 20px
}

.cols-grid .col.smaller p {
    font-size: 14px
}


.pop_up_block_container {
    background-color: #b4b4b4;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    display: none;
}

.rastiart {
    background-color: #8fb91c;
    color: #fff !important;
    padding: 7px 10px;
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    margin-bottom: 50px;
}

.rastiart:hover {
    background-color: #5e751d;
}

@media screen and (max-width: 1600px) {
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 1280px) {
    a.btn.back {
        top: -50px;
        left: calc(50% - 70px);
    }

    .title-container {
        margin-top: 80px !important;
    }
}

@media screen and (max-width: 900px) {
    .cols-wrap {
        flex-direction: column;
        align-items: center;
    }
}


.cookie-container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;
    width: 90%;
    text-align: center;
}

.container {
    width: 65%;
    margin-top: 60px;
    font-weight: 300;
    font-size: 16px;
    color: #666666;
    letter-spacing: 1px;
    line-height: 24px;
}

.title-container {
    display: flex;
    justify-content: center;
}

.container h1.title {
    font-family: "BrandonGrotesque", "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.title-container:before,
.title-container:after {
    content: '';
    position: relative;
    top: 27px;
    width: 50px;
    border-top: 1px solid #e5e5e5;
    margin: 0 20px;
}



.pop_up_block_container {
    background-color: #b4b4b4;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    display: none;
    padding: 10px;
}

.pop_up_block {
    left: 58%;
    position: relative;
    height: 60px;
}

.pop_up {
    float: right;
    padding-top: 10px;
}

.pop_up span {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    border: 2px solid #6b6b6b;
    padding: 1px 7px 0 8px;
    border-radius: 20px;
    font-size: 14px;
    color: #fff !important;
    text-align: center;
    letter-spacing: 1px;
    width: 105px;
    cursor: pointer;
}

.container_po {
    position: absolute;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;
    background-color: #3a7732;
}

.pop_up span:hover {
    background-color: #6b6b6b;
}

.pop_up2 {
    float: right;
    padding-top: 10px;
    padding-right: 20px;
}

.pop_up2 span:hover {
    background-color: #3a7732;
}

.pop_up2 span {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    border: 2px solid #3a7732;
    padding: 1px 7px 0 8px;
    border-radius: 20px;
    font-family: "BrandonGrotesque", "Open Sans", sans-serif;
    font-size: 14px;
    color: #fff !important;
    text-decoration: none;
    letter-spacing: 1px;
    width: 105px;
    cursor: pointer;
    text-align: center;
}

.hide {
    display: none !important;
}

.container_pop_up {
    position: absolute;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;
    background-color: #ccc;
}

.line3 {
    height: 60px;
    background-color: #b4b4b4;
}

.line4 {
    background-color: #b4b4b4;
    display: none;
}

.line4 span {
    color: #fff;
    font-size: 14px;
    width: 76%;
    text-align: justify;
    height: 60px;
}

.pop_up_block_container {
    background-color: #b4b4b4;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    display: none;
}

.line {
    display: inline-block;
    position: relative;
    background-color: #b4b4b4;
}

.line span {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    padding-top: 20px;
    text-align: center;
}